In [1]:
import pandas as pd

In [2]:
# Upregulated genes
df_up = pd.read_csv("../data/HN-score_rice/HN5_genelist_rice_2311/HN5_genes_up_rice.tsv", sep="\t")
df_up.rename(columns={'HN5': 'HN-score(HN5)'}, inplace=True)

# Downregulated genes
df_down = pd.read_csv("../data/HN-score_rice/HN5_genelist_rice_2311/HN5_genes_down_rice.tsv", sep="\t")
df_down.rename(columns={'HN5': 'HN-score(HN5)'}, inplace=True)

# Combine
combined = pd.concat(
    [df_up, df_down],
    ignore_index=True
)

display(df_up)
display(df_down)
display(combined)

           GENEID  HN-score(HN5)
0    Os04g0107900            253
1    Os01g0136100            246
2    Os02g0259900            238
3    Os03g0245800            237
4    Os03g0277300            236
..            ...            ...
384  Os05g0373900             42
385  Os04g0301500             42
386  Os05g0367000             42
387  Os01g0971800             42
388  Os03g0254250             42

[389 rows x 2 columns]

           GENEID  HN-score(HN5)
0    Os09g0567500            -40
1    Os04g0468600            -40
2    Os10g0490400            -40
3    Os01g0891100            -40
4    Os05g0458600            -40
..            ...            ...
379  Os01g0952800           -173
380  Os07g0142100           -178
381  Os03g0307200           -182
382  Os07g0142200           -189
383  Os03g0307300           -196

[384 rows x 2 columns]

           GENEID  HN-score(HN5)
0    Os04g0107900            253
1    Os01g0136100            246
2    Os02g0259900            238
3    Os03g0245800            237
4    Os03g0277300            236
..            ...            ...
768  Os01g0952800           -173
769  Os07g0142100           -178
770  Os03g0307200           -182
771  Os07g0142200           -189
772  Os03g0307300           -196

[773 rows x 2 columns]

## Merge the rice gene positoins and the rice gene scores

In [3]:
df_ensembl_position = pd.read_csv("../data/biomart_goslim/biomart_rice_position_R56.tsv", sep="\t")

# Merge all
merge_df_position = pd.merge(
    df_ensembl_position,
    combined,
    left_on='Gene stable ID',
    right_on='GENEID',
    how='inner'
)
merge_df_position = merge_df_position.drop(columns=['GENEID'])
merge_df_position = merge_df_position.sort_values(by='HN-score(HN5)', ascending=False).copy()
merge_df_position.to_csv("../data/rice_annotation/rice_position.tsv", sep="\t", index=False)

# merge up-regulated genes
merge_df_position_up = pd.merge(
    df_ensembl_position,
    df_up,
    left_on='Gene stable ID',
    right_on='GENEID',
    how='inner'
)
merge_df_position_up = merge_df_position_up.drop(columns=['GENEID'])
merge_df_position_up = merge_df_position_up.sort_values(by='HN-score(HN5)', ascending=False).copy()
merge_df_position_up.to_csv("../data/rice_annotation/rice_position_up.tsv", sep="\t", index=False)

# merge down-regulated genes
merge_df_position_down = pd.merge(
    df_ensembl_position,
    df_down,
    left_on='Gene stable ID',
    right_on='GENEID',
    how='inner'
)
merge_df_position_down = merge_df_position_down.drop(columns=['GENEID'])
merge_df_position_down = merge_df_position_down.sort_values(by='HN-score(HN5)', ascending=False).copy()
merge_df_position_down.to_csv("../data/rice_annotation/rice_position_down.tsv", sep="\t", index=False)


display(df_ensembl_position)
display(merge_df_position)
display(merge_df_position_up)
display(merge_df_position_down)

,Gene stable ID,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Strand
0,ENSRNA049474694,11,12120216,12120334,1
1,ENSRNA049474700,11,12162560,12162678,1
2,ENSRNA049474705,11,12102085,12102203,1
3,ENSRNA049474711,11,12092425,12092544,1
4,ENSRNA049474719,11,12089726,12089844,1
...,...,...,...,...,...
38973,gene-rps2-2,Mt,184187,185638,-1
38974,gene-nad7,Mt,90731,90873,-1
38975,gene-orf284,Mt,337520,338374,1
38976,gene-mat-r,Mt,315812,317848,-1
38977,gene-rps3-2,Mt,170836,170909,1

,Gene stable ID,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Strand,HN-score(HN5)
735,Os04g0107900,4,483234,485978,1,253
465,Os01g0136100,1,1948773,1949587,-1,246
367,Os02g0259900,2,9021454,9023102,1,238
559,Os03g0245800,3,7697015,7698027,1,237
152,Os02g0259850,2,9016923,9018833,1,236
...,...,...,...,...,...,...
333,Os01g0952800,1,41971444,41978093,-1,-173
439,Os07g0142100,7,2175193,2175719,1,-178
153,Os03g0307200,3,10926469,10927729,1,-182
123,Os07g0142200,7,2176824,2177640,1,-189
469,Os03g0307300,3,10929507,10930895,-1,-196

,Gene stable ID,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Strand,HN-score(HN5)
368,Os04g0107900,4,483234,485978,1,253
229,Os01g0136100,1,1948773,1949587,-1,246
185,Os02g0259900,2,9021454,9023102,1,238
276,Os03g0245800,3,7697015,7698027,1,237
256,Os03g0277300,3,9411494,9416082,-1,236
...,...,...,...,...,...,...
164,Os03g0820400,3,34427704,34428391,1,42
177,Os10g0328600,10,9212944,9216458,-1,42
199,Os01g0971800,1,42874273,42875515,-1,42
230,Os07g0621600,7,25691906,25692138,-1,42
321,Os04g0639000,4,32476494,32477199,1,42

,Gene stable ID,Chromosome/scaffold name,Gene start (bp),Gene end (bp),Strand,HN-score(HN5)
118,Os01g0136300,1,1955181,1955914,-1,-40
45,Os05g0588225,5,29307170,29307793,-1,-40
232,Os03g0358800,3,13915940,13917546,1,-40
236,Os06g0157900,6,2947702,2948085,1,-40
292,Os11g0439600,11,14390405,14398122,-1,-40
...,...,...,...,...,...,...
169,Os01g0952800,1,41971444,41978093,-1,-173
217,Os07g0142100,7,2175193,2175719,1,-178
83,Os03g0307200,3,10926469,10927729,1,-182
68,Os07g0142200,7,2176824,2177640,1,-189
237,Os03g0307300,3,10929507,10930895,-1,-196

## merge the Ensembl biomart data (GO slim)

In [4]:
df_ensembl = pd.read_csv("../data/biomart_goslim/biomart_rice_goslim_R56.tsv", sep="\t")
df_ensembl_uniq = df_ensembl.drop_duplicates(subset=['Gene stable ID', 'GOSlim GOA Accession(s)', 'GOSlim GOA Description'], keep='first').copy()
df_ensembl_uniq.rename(columns={'start1 (bp)': 'Gene start(bp)'}, inplace=True)
df_ensembl_uniq.rename(columns={'end1 (bp)': 'Gene end(bp)'}, inplace=True)

# 1. merge all data
merged_df = pd.merge(df_ensembl_uniq,combined,
                        left_on="Gene stable ID",
                        right_on="GENEID",
                     how="inner")

merged_df = merged_df.drop(columns=['GENEID'])
merged_df = merged_df.sort_values(by='HN-score(HN5)', ascending=False).copy()
merged_df.to_csv("../data/rice_annotation/rice_annotation.tsv", sep="\t", index=False)

# 2. merge UP data
merged_df_up = pd.merge(df_ensembl_uniq,df_up,
                        left_on="Gene stable ID",
                        right_on="GENEID",
                     how="inner")

merged_df_up = merged_df_up.drop(columns=['GENEID'])
merged_df_up = merged_df_up.sort_values(by='HN-score(HN5)', ascending=False).copy()
merged_df_up.to_csv("../data/rice_annotation/rice_annotation_up.tsv", sep="\t", index=False)


# 3. merge DOWN data
merged_df_down = pd.merge(df_ensembl_uniq,df_down,
                        left_on="Gene stable ID",
                        right_on="GENEID",
                     how="inner")

merged_df_down = merged_df_down.drop(columns=['GENEID'])
merged_df_down = merged_df_down.sort_values(by='HN-score(HN5)', ascending=False).copy()
merged_df_down.to_csv("../data/rice_annotation/rice_annotation_down.tsv", sep="\t", index=False)


display(df_ensembl_uniq)
display(merged_df)
display(merged_df_up)
display(merged_df_down)

/tmp/ipykernel_80631/4118230430.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ensembl = pd.read_csv("../data/biomart_goslim/biomart_rice_goslim_R56.tsv", sep="\t")

,Gene stable ID,Chromosome/scaffold name,Gene start(bp),Gene end(bp),GOSlim GOA Accession(s),GOSlim GOA Description
0,Os01g0100100,1,2983,10815,GO:0006810,transport
1,Os01g0100100,1,2983,10815,GO:0008150,biological_process
2,Os01g0100100,1,2983,10815,GO:0009987,cellular process
3,Os01g0100100,1,2983,10815,GO:0003674,molecular_function
4,Os01g0100100,1,2983,10815,GO:0030234,enzyme regulator activity
...,...,...,...,...,...,...
258565,gene-rps19,Pt,134200,134481,GO:0003674,molecular_function
258566,gene-rps19,Pt,134200,134481,GO:0005198,structural molecule activity
258567,gene-rps19,Pt,134200,134481,GO:0005488,binding
258568,gene-rps19,Pt,134200,134481,GO:0003723,RNA binding
258569,gene-rps19,Pt,134200,134481,GO:0003676,nucleic acid binding

,Gene stable ID,Chromosome/scaffold name,Gene start(bp),Gene end(bp),GOSlim GOA Accession(s),GOSlim GOA Description,HN-score(HN5)
2094,Os04g0107900,4,483234,485978,GO:0005515,protein binding,253
2112,Os04g0107900,4,483234,485978,GO:0008150,biological_process,253
2080,Os04g0107900,4,483234,485978,GO:0008150,biological_process,253
2116,Os04g0107900,4,483234,485978,GO:0016787,hydrolase activity,253
2081,Os04g0107900,4,483234,485978,GO:0006950,response to stress,253
...,...,...,...,...,...,...,...
1636,Os03g0307300,3,10929507,10930895,GO:0016740,transferase activity,-196
1637,Os03g0307300,3,10929507,10930895,GO:0008150,biological_process,-196
1638,Os03g0307300,3,10929507,10930895,GO:0009987,cellular process,-196
1639,Os03g0307300,3,10929507,10930895,GO:0008152,metabolic process,-196
1640,Os03g0307300,3,10929507,10930895,GO:0009058,biosynthetic process,-196

,Gene stable ID,Chromosome/scaffold name,Gene start(bp),Gene end(bp),GOSlim GOA Accession(s),GOSlim GOA Description,HN-score(HN5)
1146,Os04g0107900,4,483234,485978,GO:0005488,binding,253
1148,Os04g0107900,4,483234,485978,GO:0009987,cellular process,253
1167,Os04g0107900,4,483234,485978,GO:0016787,hydrolase activity,253
1166,Os04g0107900,4,483234,485978,GO:0003824,catalytic activity,253
1165,Os04g0107900,4,483234,485978,GO:0000166,nucleotide binding,253
...,...,...,...,...,...,...,...
874,Os03g0289800,3,10039387,10044161,GO:0016787,hydrolase activity,42
873,Os03g0289800,3,10039387,10044161,GO:0003824,catalytic activity,42
872,Os03g0289800,3,10039387,10044161,GO:0005488,binding,42
871,Os03g0289800,3,10039387,10044161,GO:0003674,molecular_function,42
1467,Os05g0373900,5,18016742,18020353,GO:0008152,metabolic process,42

,Gene stable ID,Chromosome/scaffold name,Gene start(bp),Gene end(bp),GOSlim GOA Accession(s),GOSlim GOA Description,HN-score(HN5)
1182,Os05g0458600,5,22533536,22536087,GO:0005488,binding,-40
266,Os01g0891100,1,38750313,38750768,GO:0008150,biological_process,-40
167,Os01g0695800,1,28786544,28787701,GO:0016020,membrane,-40
168,Os01g0695800,1,28786544,28787701,GO:0005215,transporter activity,-40
169,Os01g0695800,1,28786544,28787701,GO:0006810,transport,-40
...,...,...,...,...,...,...,...
748,Os03g0307300,3,10929507,10930895,GO:0003824,catalytic activity,-196
747,Os03g0307300,3,10929507,10930895,GO:0003674,molecular_function,-196
751,Os03g0307300,3,10929507,10930895,GO:0009987,cellular process,-196
752,Os03g0307300,3,10929507,10930895,GO:0008152,metabolic process,-196
753,Os03g0307300,3,10929507,10930895,GO:0009058,biosynthetic process,-196